@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root{
  --primary-col: #fff;
  --secondary-col: #000;
  --tertiary-col-1: #c50022;
  --tertiary-col-2: #6d001a;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

.bg{
  background: var(--tertiary-col-2);
}

.bg1{
  background: #000;
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(245, 0, 41, 1) 100%);
  width: 1000;
  height: 1000;
  position: fixed;
  top:-500;
  right: 50vw;
  border-radius: 50%;
  z-index: -999;
}

.bg2{
  background: #6D001A;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 1) 0%, rgba(245, 0, 41, 1) 100%);
  width: 1000;
  height: 1000;
  position: fixed;
  bottom: -500;
  left: 50vw;
  border-radius: 50%;
  z-index: -999;
}